@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 278 50% 38%;
    --primary-foreground: 0 0% 98%;
    --secondary: 168 76% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 168 50% 96.1%;
    --muted-foreground: 168 10% 45.1%;
    --accent: 36 100% 63%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 20% 89%;
    --input: 278 20% 89%;
    --ring: 278 50% 38%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 278 50% 38%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 278 50% 96%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 278 20% 92%;
    --sidebar-ring: 278 50% 38%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 278 50% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 168 76% 32%;
    --secondary-foreground: 0 0% 98%;
    --muted: 168 20% 14.9%;
    --muted-foreground: 168 10% 63.9%;
    --accent: 36 100% 63%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 10% 14.9%;
    --input: 278 10% 14.9%;
    --ring: 278 50% 48%;
    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 278 50% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 278 15% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 278 10% 14.9%;
    --sidebar-ring: 278 50% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
